.hero-section {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background: url('herosec.png') no-repeat center center/cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    z-index: -1; 
  }