.why-choose-us {
    text-align: center;
    padding: 120px;
    background-color: #021F2D;
  }
  
  .why-us-header{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  @media (max-width: 1024px) {
    .why-choose-us {
      padding: 100px;
    }
  }
  
  @media (max-width: 768px) {
    .why-choose-us {
      padding: 80px;
    }
  }
  
  @media (max-width: 480px) {
    .why-choose-us {
      padding: 60px;
    }
  }
  